nav {
  width: 100vw;
  padding: 20px;
  /* background: red; */
}

nav h1 {
  /* width: 100%; */
  font-size: clamp(2.2rem, 5vw, 6rem);
  margin: 20px 0;
  /* letter-spacing: 2px; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}